
<div class="body-section bg-secondary">
    <div>
        <div class="pill">Link builder</div>
        <div class="title">Discover the <i>possibilities</i><br />
            of managing short links</div>
        <div class="section-desc">
            Cyda is a Link Management Platform and URL shortener that was created out of passion to support your brand and your needs.
        </div>
        <div class="section-desc">
            Cyda give the user (you) various different options in order to create the perferct link for you. Some of this features are; <b>password protected links</b>, <b>different mobile re-directs</b>, <b>custom codes / very customizable options</b>, <b>generation of QR codes / share on social medias</b> and many more.
        </div>
    </div>
    <div class="box bg-primary border-primary">
        <div class="bg-primary">
            awd
        </div>
        <div class="bg-secondary">
            awd
        </div>
    </div>
</div>
