<h1>
    <span class="text-gradient">Online marketing</span><br/> has never been so <span class="underline-text">easy</span>
</h1>
<div>
    <p>With the use of various open source tools,<br /> you can easily create marketing products <br/> and atract users to your business.</p>
    <div class="buttons">
        <div class="button bg-gradient">
            Get Started
            <svg width="15" height="15" style="transition: .1s; margin-left: 10px; margin-right: 10px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
        </div>
        <div style="margin-left: 20px;" class="button bg-third">
            <i style="margin-right: 10px;" class="fa-brands fa-github"></i>
            Checkout source
        </div>
    </div>
</div>