<div class="w-full flex items-center bg-secondary py-10 border-primary">
    TODO: LINK CREATION HERE WITHOUT ACCOUNT, NO POPUP NEEDED.
</div>
<div class="p-[var(--body-inner-padding)] w-full flex justify-between items-center ">
    <div>
        <div class="py-2 px-4 w-fit font-semibold text-sm select-none bg-[var(--third-color)] shadow border-primary rounded-[50px]">Link builder</div>
        <div class="text-4xl font-semibold mt-4">Discover the <i>possibilities</i><br />
            of managing short links</div>
        <div class="text-[15px] max-w-[50%] mt-6">
            Cyda is a Link Management Platform and URL shortener that was created out of passion to support your brand and your needs.
        </div>
        <div class="text-[15px] max-w-[50%] mt-6">
            Cyda give the user (you) various different options in order to create the perferct link for you. Some of this features are; <b>password protected links</b>, <b>different mobile re-directs</b>, <b>custom codes / very customizable options</b>, <b>generation of QR codes / share on social medias</b> and many more.
        </div>
    </div>
    <div style="transform: rotateX(16deg) rotateY(-16deg) rotateZ(5deg); transition: .3s;" class="hover:!rotate-0 box !shadow p-0 bg-primary border-primary min-w-[580px]">
        <div class="bg-[var(--primary-color)] w-full border-solid border-0 border-b border-[var(--border-primary)] p-5">
            <div class="text-md font-semibold">Lot's of functionality in a single link</div>
            <div class="text-xs mt-2">Here are some things that will make your link stand out from the rest of them and being very manageable at the same time.</div>
        </div>
        <div class="bg-[var(--secondary-color)] w-full p-5">
            <div class="text-sm">
                <div class="flex items-center">
                    <span>
                        Original, boring link:
                    </span>
                    <a href="/github" class="ml-1 text-blue-300 no-underline"><script>document.write(window.location.origin)</script>/github</a>
                </div>
                <div class="flex">
                    <span>
                        New, good looking and powerful link:
                    </span>
                    <a href="/github" class="ml-1 text-blue-300 no-underline">your-brand.com/unbelievably-long-url/...</a>
                </div>
            </div>

            <div class="mt-3 flex w-full">
                <div data-tippy-content="Change URL name / ID" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mr-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-fingerprint"></i>
                    </span>
                </div>
                <div data-tippy-content="Password protected" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-key"></i>
                    </span>
                </div>
                <div data-tippy-content="Device redirects" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-code-branch"></i>
                    </span>
                </div>
                <div data-tippy-content="Change destination URL" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-recycle"></i>
                    </span>
                </div>
                <div data-tippy-content="Add social media images/title/description" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div data-tippy-content="Expiration date" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-regular fa-clock"></i>
                    </span>
                </div>
                <div data-tippy-content="Test A/B/C" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-shuffle"></i>
                    </span>
                </div>
                <div data-tippy-content="Remove links" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </div>
                <div data-tippy-content="Powerful analytics" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-chart-pie"></i>
                    </span>
                </div>
                <div data-tippy-content="Lot's of sharing options" class="hover:shadow hover:bg-[var(--third-color)] rounded-full mx-2 cursor-pointer w-9 h-9 flex items-center justify-center hover:border-solid hover:border hover:border-[var(--border-primary)] relative">
                    <span class="text-xl">
                        <i class="fa-solid fa-share-from-square"></i>
                    </span>
                </div>
            </div>
            <a href="/auth/signup" class="button mt-5 w-full bg-gradient">
                Get started now!
            </a>
        </div>
    </div>
</div>
