
<div class="p-[var(--body-inner-padding)] w-full flex justify-between items-center bg-secondary">
    <div>
        <div class="py-2 px-4 w-fit font-semibold text-sm select-none bg-[var(--third-color)] border border-[var(--border-primary)] rounded-[50px]">Link builder</div>
        <div class="text-4xl font-semibold mt-5">Discover the <i>possibilities</i><br />
            of managing short links</div>
        <div class="text-[15px] max-w-[40%] mt-8">
            Cyda is a Link Management Platform and URL shortener that was created out of passion to support your brand and your needs.
        </div>
        <div class="text-[15px] max-w-[40%] mt-8">
            Cyda give the user (you) various different options in order to create the perferct link for you. Some of this features are; <b>password protected links</b>, <b>different mobile re-directs</b>, <b>custom codes / very customizable options</b>, <b>generation of QR codes / share on social medias</b> and many more.
        </div>
    </div>
    <div class="box bg-primary border-primary">
        <div class="bg-primary">
            awd
        </div>
        <div class="bg-secondary">
            awd
        </div>
    </div>
</div>
