<h1 class="font-semibold text-[var(--primary-cl)] text-6xl">
    <span class="text-gradient">Online marketing</span><br/> has never been so <span class="underline-text">easy</span>
</h1>
<div>
    <p class="text-[var(--primary-cl)] !opacity-70 leading-6 font-normal">With the use of various open source tools,<br /> you can easily create marketing products <br/> and atract users to your business.</p>
    <div class="flex items-center mt-3 home-nav-buttons-wrapper">
        <% if (typeof user !== "undefined") { %>
            <a data-aos="fade-up" href="/app" class="button bg-gradient">
                Enter Dashboard
                <svg width="15" height="15" style="transition: .1s; margin-left: 10px; margin-right: 10px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </a>
        <% } else { %>
            <a data-aos="fade-up" href="/auth/login" class="button bg-gradient">
                Get Started
                <svg width="15" height="15" style="transition: .1s; margin-left: 10px; margin-right: 10px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </a>
        <% } %>
        <div data-aos="fade-up" data-aos-delay="100" style="margin-left: 20px;" class="button bg-third">
            <i style="margin-right: 10px;" class="fa-brands fa-github"></i>
            Checkout source
        </div>
    </div>
</div>