<div data-easy-popup="created-link-popup"
    data-easy-popup-mobile="true"
    data-easy-popup-title="Popup title"
    data-easy-popup-theme="my-style"
    data-easy-popup-click-outside-to-close="true">
    <div class="link-section">
        <h1>Expose your link</h1>
        <p>You've created a new link! Share this precious link to anyone you want.</p>
    </div>
    <div class="bg-secondary link-section" style="padding: 20px 30px; border: none; box-shadow: none;">
        <span style="width: 100%;">
            <div class="input-subtitle">Created link</div>
            <div class="input" style="width: -webkit-fill-available;">
                <div id="link-gen-popup-link" style="width: -webkit-fill-available;"></div>
                <div id="link-gen-popup-link-id" class="hidden"></div>
            </div>
        </span>
    </div>
    <div class="link-section bg-secondary">
        <div onclick="shareLink(document.querySelector('#link-gen-popup-link-id > input').value)" class="button bg-gradient">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"></path></svg>
            <span>Share link</span>
        </div>
        <div onclick="window.location.href = '/app/link' + document.querySelector('#link-gen-popup-link-id > input').value" class="button bg-third">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path></svg>
            <span>See analytics</span>
        </div>
    </div>
</div>