<div data-easy-popup="qr-code-popup"
    data-easy-popup-mobile="true"
    data-easy-popup-title="Popup title"
    data-easy-popup-theme="my-style"
    data-easy-popup-click-outside-to-close="true">
    <div class="qr-section">
        Generate QR code
    </div>
    <div class="bg-secondary qr-section">
        <div id="qr-code-result" class="p-4 bg-[var(--primary-color)] border-[var(--border-primary)] rounded-md"></div>
    </div>
    <div style="display: block;" class="qr-section">
        <div class="input" style="margin: 0 20px;">
            <div class="icon">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg>
            </div>
            <input id="qr-input-url" type="text" placeholder="Enter URL or text">
        </div>
    </div>
    <div class="qr-section">
        <div class="button bg-gradient">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
            <span>Copy</span>
        </div>
        <div class="button bg-third">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
            <span>Export</span>
        </div>
    </div>
</div>