<div id="link-gen-popup">
    <div id="link-gen-form" class="half-section">
        <div class="link-section center">
            Generate link
        </div>
        <div class="section-line"></div>
        <div class="link-section please-margin-top">
            <div id="link-gen-error"></div>
            <div class="input-subtitle">Destination URL</div>
            <div class="input">
                <div class="icon">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg>
                </div>
                <input id="link-gen-form-input" type="text" placeholder="Enter URL to customize.">
            </div>
            <div style="height: var(--section-space);"></div>
            <div class="input-subtitle">Custom code for URL</div>
            <div class="input">
                <div class="icon">
                    <script>document.write(window.location.hostname)</script>
                </div>
                <input id="link-gen-form-code" type="text" placeholder="Custom code for the short URL">
            </div>
        </div>
        <div class="section-line" style="margin-top: 50px; margin-bottom: 50px;">
            <div>Optional</div>
        </div>
        <div class="link-section">
            <div class="input-subtitle">Password for the link</div>
            <div class="input">
                <input id="link-gen-form-pwd" type="password" placeholder="*******">
            </div>
            <% if (typeof user !== "undefined") { %>
                <div style="height: var(--section-space);"></div>
                <div class="input-subtitle">Expiration date</div>
                <div class="input">
                    <input id="link-gen-form-date" type="datetime-local" step="60" min="<%= new Date().toISOString().split('T')[0] %>" placeholder="Custom code for the short URL">
                </div>
            <% } else { %>
                <div class="note">note: public links will be automatically deleted after 30 days. You can <a href="/auth/signup">create an account</a> to keep them for ever.</div>
                <input id="link-gen-form-date" type="datetime-local" style="display: none;" value="<%= (new Date(new Date().setDate(new Date().getDate() + 30))).toISOString().split('T')[0] %>" placeholder="Custom code for the short URL">
            <% } %>
            <div onclick="createLinkSubmit(event);" class="button bg-gradient">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path></svg>
                <span>Generate Link</span>
            </div>
        </div>
    </div>
    <div>
        <div class="link-section">
            Social Previews
        </div>
    </div>
</div>