<div data-easy-popup="created-link-popup"
    data-easy-popup-mobile="true"
    data-easy-popup-title="Popup title"
    data-easy-popup-theme="my-style"
    data-easy-popup-click-outside-to-close="true">
    <div class="link-section">
        <h1>Expose your link</h1>
        <p>You've created a new link! Share this precious link to anyone you want.</p>
    </div>
    <div class="bg-secondary link-section" style="padding: 20px 30px; border: none; box-shadow: none;">
        <span style="width: 100%;">
            <div class="input-subtitle">Created link</div>
            <div class="input" style="width: -webkit-fill-available;">
                <div id="link-gen-popup-link" style="width: -webkit-fill-available;"></div>
            </div>
        </span>
    </div>
    <div class="link-section bg-secondary">
        <div class="button bg-gradient">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path></svg>
            <span>Copy</span>
        </div>
        <div onclick="createQRCodePage(document.querySelector('#link-gen-popup-link > input').value, true)" class="button bg-third">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z"></path></svg>
            <span>Generate QR</span>
        </div>
    </div>
</div>