:root {
    --primary-color: #262835;
    --secondary-color: #2a2d39;
    --third-color: #383a4a;

    --border-primary: rgb(77, 77, 77);

    --gradient-start: #f6dec9;
    --gradient-end: #dec8f5;

    --primary-cl: #fff;
}

html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--primary-color);
}

nav {
    padding: 25px 100px;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-bottom: 1px solid var(--border-primary);

    background: var(--secondary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-logo {
    font-size: 17px;
    font-weight: 600;

    display: flex;
    align-items: center;
}

nav .nav-logo svg {
    margin-right: 15px;
}

nav .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links .link {
    margin: 0 20px;
    color: var(--primary-cl);

    text-decoration: none;
    opacity: .7;

    position: relative;
}

nav .links .link::after {
    background: -webkit-linear-gradient(var(--gradient-start), var(--gradient-end));
    width: 100%;
    content: '';

    position: absolute;
    transform: translate(-50%, 300%) rotate(0);

    height: 2px;
    border-radius: 5px;

    bottom: -5px;
    left: 50%;

    opacity: 0;
    transition: .2s;
}

nav .links .link:nth-child(1):hover::after { transform: translate(-50%, 0%) rotate(1deg); }
nav .links .link:nth-child(2):hover::after { transform: translate(-50%, 0%) rotate(0.5deg); }
nav .links .link:nth-child(3):hover::after { transform: translate(-50%, 0%) rotate(-0.5deg); }
nav .links .link:nth-child(4):hover::after { transform: translate(-50%, 0%) rotate(-1deg); }

nav .links .link:hover::after {
    opacity: 1;
}

nav .links .link:hover {
    opacity: .9;
}

nav .links .button {
    margin-left: 30px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 10%;
    margin: 200px 0;
}

header h1 {
    color: var(--primary-cl);
    font-size: 60px;
}

header div:last-child p {
    color: var(--primary-cl);
    opacity: .7;

    line-height: 1.5;
    font-weight: 400;
}

header div:last-child .buttons {
    display: flex;
    align-items: center;

    margin-top: 10px;
}

header div:last-child .buttons .button:hover svg {

    transform: translateX(5px);
}

/* main */

main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0 10%;
}

main .card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-primary);
    background: var(--secondary-color);

    display: flex;
    max-width: 300px;

    transition: .2s;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

main .card:hover {
    transform: translateY(-5%);
}

main .card svg.icon {
    width: 30px;
    height: 30px;

    color: var(--primary-cl);
}


main .card > div:nth-child(2) {
    margin-left: 20px;
}

main .card div .title {
    color: var(--primary-cl);
    margin-bottom: 5px;
}

main .card div .desc {
    color: var(--primary-cl);
    opacity: .6;

    font-size: 15px;
}

main .card div .btn {
    color: var(--primary-cl);
    opacity: .6;

    margin-top: 50px;
    width: min-content;
}

main .card div .btn svg {
    width: 20px;
    height: 20px;
}

/* COMPONENTS */

.input {
    background: var(--third-color);
    border: 1px solid var(--border-primary);
    border-radius: 5px;

    position: relative;
    background: var(--primary-color);

    display: flex;
    align-items: center;
}

.input .icon {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding: 0 15px;
}

.input .icon svg {
    width: 10px;
    height: 10px;
}

input {
    background: var(--third-color);
    padding: 10px;

    color: var(--primary-cl);

    border: none;
    outline: none;
    width: 100%;
}

input:focus {
    outline: none;
    border: none;
}

.button {
    font-size: 15px;

    padding: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: .2s;
}

.button:hover {
    transform: translateY(-5px);
}

.bg-secondary {
    background: var(--secondary-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    color: var(--primary-cl);
    opacity: .8;
}

.bg-third {
    background: var(--third-color);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    color: var(--primary-cl);
    opacity: .8;

    border: 1px solid var(--border-primary);
}

.bg-gradient {
    background: -webkit-linear-gradient(0.5turn, var(--gradient-start), var(--gradient-end));
}

.text-gradient {
    background: -webkit-linear-gradient(0.5turn, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* popups override */

.easy-popup-inner > div:first-child {
    background: var(--primary-color) !important;
    color: var(--primary-cl);
}

.easy-popup-inner > div[data-easy-popup="qr-code-popup"]:first-child {
    padding: 0 !important;
    /* width: min-content; */
    max-width: 400px;

    margin: 0 auto;
}

.easy-popup-inner > div[data-easy-popup="qr-code-popup"]:first-child .qr-section {
    padding: 30px 10px;
    border-bottom: 1px solid var(--border-primary);

    display: flex;
    align-items: center;
    justify-content: center;
}

#qr-code-result {
    padding: 15px;
    background: var(--primary-color);
    border: 1px solid var(--border-primary);
    border-radius: 5px;
}