<nav class="flex justify-between items-center py-[25px] px-[100px] bg-[var(--secondary-color)]">
    <a href="/" class="text-gradient text-xl font-semibold flex items-center">
        <svg class="mr-4" width="25" height="25" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_2)">
            <rect width="150" height="150" fill="#2A2D39"/>
            <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="#F6DEC9" stroke-width="33"/>
            <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="url(#paint0_linear_1_2)" stroke-opacity="0.5" stroke-width="33"/>
            <rect x="117" y="117" width="33" height="33" fill="#2A2D39"/>
            </g>
            <defs>
            <linearGradient id="paint0_linear_1_2" x1="170" y1="129" x2="8.00001" y2="93.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#DEC8F5"/>
            <stop offset="0.578125" stop-color="#CFBAE4" stop-opacity="0.475469"/>
            <stop offset="1" stop-opacity="0"/>
            </linearGradient>
            <clipPath id="clip0_1_2">
            <rect width="150" height="150" fill="white"/>
            </clipPath>
            </defs>
        </svg>
        <div>Cyda</div>
    </a>
    <div class="flex items-center justify-between">
        <div style="position: relative;">
            <input class="dropdown" type="checkbox" id="dropdown-link-${link.id}" name="dropdown"/>
            <label style="display: block;" class="link-dropdown for-dropdown" for="dropdown-link-${link.id}">
                <div class="py-2 px-3 font-semibold cursor-pointer rounded select-none border-primary">
                    <%= user.email %>
                </div>
            </label>
            <div style="margin-top: 10px;" class="section-dropdown">
                <a href="#" onclick="logoutUser()">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<nav class="py-2 flex justify-between items-center px-[100px] border-solid border-0 shadow border-b border-[var(--border-primary)] bg-[var(--secondary-color)]">
    <div class="flex items-center">
        <div onclick="<% if (dashboardPage !== "home") { %> changePage('')<% } %>" class="nav-link <% if (dashboardPage === "home"    ) { %> active <% } %>">Dashboard</div>
        <div onclick="<% if (dashboardPage !== "links") { %> changePage('links')<% } %>" class="nav-link <% if (dashboardPage === "links" || dashboardPage === "link-view"   ) { %> active <% } %>">My links</div>
        <div onclick="<% if (dashboardPage !== "settings") { %> changePage('settings')<% } %>" class="nav-link <% if (dashboardPage === "settings") { %> active <% } %>">Settings</div>
    </div>
</nav>