<span id="link-view">
    <div onclick="changePage('links')" class="go-back button bg-gradient" style="width: fit-content; margin-bottom: 2rem;">
        <svg width="15" height="15" style="margin-right: 10px;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
        <span>Go to links</span>
    </div>
    <div class="box">
        <div class="title-space">
            <div class="title">Record of clicks</div>

            <!-- yes, same stiles as a title... -->
            <div class="title">Total amount of clicks are 0</div>
        </div>
    </div>
    <div class="double-box">
        <div class="box relative overflow-hidden">
            <div class="title-space">
                <div class="title">Devices and enviroments</div>
                <div class="title devices-selection">
                    <div onclick="onDeviceSelectionClick(event);" class="active">Devices</div>
                    <div onclick="onDeviceSelectionClick(event);">Browsers</div>
                    <div onclick="onDeviceSelectionClick(event);">OS</div>
                </div>
            </div>
            <div id="devices" class="overflow-auto"></div>
            <div class="title-space absolute bottom-4 left-2">
                <div class="title">
                    <input onchange="onDevicesAllowBotChange(event)" id="allow-bots-for-devices" style="width: min-content; margin: 0 10px;" type="checkbox" name="" id="">
                    <label for="allow-bots-for-devices">Allow bots</label>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="title-space">
                <div class="title">Referers</div>
            </div>
            <div id="referers"></div>
        </div>
    </div>
    <div class="box">
        <div class="title-space">
            <div class="title">Country locations</div>
        </div>
    </div>
</span>