<span id="links">
    <div class="box" id="links-container">
        <div class="header-wrapper">
            <div class="title">
                Your links
            </div>
            <a href="#link-gen-popup" class="button bg-gradient">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                Create new link
            </a>
        </div>
        <div class="links-list"></div>
        <%# TODO: if there r no links, display a message with an empty dialog, containging an image and a button to add a new one. %>
    </div>
</span>