@import url("/styles/dashboard-pages/links.css");
@import url("/styles/dashboard-pages/links-view.css");

body {
    height: 100vh;
    position: relative;
}

nav .nav-link {
    --nav-link-padding: 10px;

    padding: var(--nav-link-padding) calc(var(--nav-link-padding) + 2px);
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;

    cursor: pointer;

    font-size: 14px;
    font-weight: 600;

    user-select: none;
    position: relative;

    text-decoration: none;
    color: var(--primary-cl);

    display: flex;
    align-items: center;
}

nav .nav-link > svg {
    width: 20px;
    margin-right: 15px;
}

nav .nav-link.active::after {
    content: '';

    position: absolute;
    right: -9px;
    top: 0;

    width: 2px;
    height: 100%;

    background: var(--primary-cl);
}

nav .nav-link:hover {
    background: var(--third-color);
}