body {
    height: 100vh;
    position: relative;
}

nav .links .user-button {
    border: 1px solid var(--border-primary);
    padding: 10px 15px;

    user-select: none;
    font-weight: 600;

    cursor: pointer;
    border-radius: 5px;
}

nav:has(.nav-links-wrapper) {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav .nav-links-wrapper {
    display: flex;
    align-items: center;
}

nav .nav-link {
    --nav-link-padding: 10px;

    padding: var(--nav-link-padding) calc(var(--nav-link-padding) + 2px);
    border-radius: 5px;
    margin: 0 20px;

    cursor: pointer;

    font-size: 14px;
    font-weight: 600;

    user-select: none;
    position: relative;
}

nav .nav-link.active::after {
    content: '';

    position: absolute;
    left: 0;
    top: calc(100% + var(--nav-link-padding) - 2px);

    width: 100%;
    height: 2px;

    background: var(--primary-cl);
}

nav .nav-link:hover {
    background: var(--third-color);
}

main {
    display: flex;


    height: 100%;
    width: 100%;

    position: relative;

    margin: 0;

    align-items: flex-start;
    justify-content: flex-start;
}

