:root {
  --body-inner-padding: 10%;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
}

/* @import "tailwindcss/base"; */

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.home--navigation--link {
  position: relative;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  color: var(--primary-cl);
  text-decoration-line: none;
  opacity: 0.7 !important;
}

.home--navigation--link:hover {
  transition: .1s !important;
  opacity: 0.9 !important
}

.home--navigation--link::after {
  background: -webkit-linear-gradient(
            var(--gradient-start),
            var(--gradient-end)
        );
  width: 100%;
  content: "";
  position: absolute;
  transform: translate(-50%, 300%) rotate(0);
  height: 2px;
  border-radius: 5px;
  bottom: -5px;
  left: 50%;
  opacity: 0;
  transition: 0.2s;
}

.home--navigation--link:nth-child(1):hover::after {
  transform: translate(-50%, 0%) rotate(1deg);
}

.home--navigation--link:nth-child(2):hover::after {
  transform: translate(-50%, 0%) rotate(0.5deg);
}

.home--navigation--link:nth-child(3):hover::after {
  transform: translate(-50%, 0%) rotate(-0.5deg);
}

.home--navigation--link:nth-child(4):hover::after {
  transform: translate(-50%, 0%) rotate(-1deg);
}

.home--navigation--link:hover::after {
  opacity: 1;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-3 {
  bottom: 0.75rem;
}

.bottom-4 {
  bottom: 1rem;
}

.left-2 {
  left: 0.5rem;
}

.z-0 {
  z-index: 0;
}

.z-\[-1\] {
  z-index: -1;
}

.z-10 {
  z-index: 10;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.h-6 {
  height: 1.5rem;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-6 {
  width: 1.5rem;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.max-w-\[40\%\] {
  max-width: 40%;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[var\(--border-primary\)\] {
  border-color: var(--border-primary);
}

.bg-\[var\(--secondary-color\)\] {
  background-color: var(--secondary-color);
}

.bg-\[var\(--third-color\)\] {
  background-color: var(--third-color);
}

.bg-\[var\(--primary-color\)\] {
  background-color: var(--primary-color);
}

.bg-cyan-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 211 238 / var(--tw-bg-opacity));
}

.bg-cyan-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 94 117 / var(--tw-bg-opacity));
}

.bg-cyan-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(6 182 212 / var(--tw-bg-opacity));
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-blue-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.p-\[var\(--body-inner-padding\)\] {
  padding: var(--body-inner-padding);
}

.p-4 {
  padding: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-2 {
  padding: 0.5rem;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-\[100px\] {
  padding-left: 100px;
  padding-right: 100px;
}

.px-\[var\(--body-inner-padding\)\] {
  padding-left: var(--body-inner-padding);
  padding-right: var(--body-inner-padding);
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.leading-6 {
  line-height: 1.5rem;
}

.text-\[var\(--primary-cl\)\] {
  color: var(--primary-cl);
}

.\!opacity-70 {
  opacity: 0.7 !important;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-70 {
  opacity: 0.7;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body {
  background: var(--primary-color);
}

/* header */

header div:last-child .home-nav-buttons-wrapper .button:hover svg {
  transform: translateX(5px);
}

header h1 .underline-text {
  position: relative;
}

header h1 .underline-text::after {
  background: -webkit-linear-gradient(
        var(--gradient-start),
        var(--gradient-end)
    );
  width: 100%;
  content: "";
  position: absolute;
  transform: translate(-50%, 50%) rotate(-2deg);
  height: 4px;
  border-radius: 5px;
  bottom: 5px;
  left: 50%;
}

/* COMPONENTS */

.input {
  background: var(--third-color);
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  position: relative;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.input.error,
.input:has(input.error) {
  border-color: red !important;
}

.input .icon {
  width: -moz-min-content;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  /* border-right: 1px solid var(--border-primary); */
}

.input .icon svg {
  width: 10px;
  height: 10px;
}

input {
  background: var(--third-color);
  padding: 10px;
  color: var(--primary-cl);
  border: none;
  outline: none;
  width: 100%;
}

input:-moz-read-only {
  opacity: .5;
  cursor: no-drop;
}

input:read-only {
  opacity: .5;
  cursor: no-drop;
}

input:focus {
  outline: none;
  border: none;
}

.input-subtitle {
  font-size: 13px;
  line-height: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.button {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

button.button {
  width: 100%;
  border: none;
  outline: none;
}

.button.sqr {
  padding: 10px;
}

.button:hover {
  transform: translateY(-1px);
  transition: .1s !important;
}

.button:active {
  transform: scale(0.90) translateY(-1px) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: var(--primary-cl);
  opacity: 0.8;
}

.bg-secondary {
  background: var(--secondary-color) !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: var(--primary-cl);
  opacity: 0.8;
}

.bg-third {
  background: var(--third-color) !important;
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
  color: var(--primary-cl);
  opacity: 0.8;
  border: 1px solid var(--border-primary);
}

.bg-gradient {
  background: -webkit-linear-gradient(
        0.5turn,
        var(--gradient-start),
        var(--gradient-end)
    );
  color: var(--inverted-cl);
}

.text-gradient {
  background: -webkit-linear-gradient(
        0.5turn,
        var(--gradient-start),
        var(--gradient-end)
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-primary {
  border: 1px solid var(--border-primary);
}

.section-line {
  background: var(--border-primary);
  height: 1px;
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
}

.section-line > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  color: var(--primary-cl);
  background: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}

a {
  color: var(--gradient-end);
}

.dropdown:checked + label,
.dropdown:not(:checked) + label,
.dropdown {
  display: none;
}

.section-dropdown {
  position: absolute;
  padding: 5px 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-primary);
  top: 100%;
  left: 0;
  max-width: 500px;
  min-width: 250px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
  transition: all 200ms linear;
}

.dropdown:checked ~ .section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown ~ .section-dropdown > hr {
  height: 0.05px;
  opacity: .1;
  border-radius: 1px;
  width: 100%;
  background: var(--border-primary);
  margin: 1px;
  padding: 0;
}

.dropdown ~ .section-dropdown > *:not(hr) {
  margin: calc(5px / 2) 0;
  display: flex;
  color: var(--primary-cl);
  text-decoration: none;
  transition: .1s;
  padding: .6rem;
  border-radius: 5px;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
}

.dropdown ~ .section-dropdown > *:not(hr):hover {
  background: var(--third-color);
}

.dropdown ~ .section-dropdown > *:not(hr) > svg:first-child {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

/* popups override */

.easy-popup-close-button {
  cursor: pointer;
  filter: invert(100%);
}

.easy-popup-inner > div:first-child {
  background: var(--primary-color) !important;
  color: var(--primary-cl);
}

.easy-popup-inner:has(div[data-easy-popup="qr-code-popup"]) {
  max-width: 400px;
  margin: 0 auto;
}

.easy-popup-inner > div[data-easy-popup="qr-code-popup"]:first-child {
  padding: 0 !important;
  /* width: min-content; */
  border: 1px solid var(--border-primary);
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section {
  padding: 30px 10px;
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:last-child {
  border: none;
  padding: 20px 30px;
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:last-child
    .button {
  width: 100%;
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:last-child
    .button:first-child {
  color: var(--inverted-cl);
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:last-child
    .button:last-child {
  margin-left: 20px;
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:nth-last-child(2) {
  border: none;
  padding-bottom: 1rem;
}

.easy-popup-inner
    > div[data-easy-popup="qr-code-popup"]:first-child
    .qr-section:last-child
    .button
    svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.easy-popup-inner:has(div[data-easy-popup="created-link-popup"]) {
  max-width: 400px;
  margin: 0 auto;
}

.easy-popup-inner > div[data-easy-popup="created-link-popup"]:first-child {
  padding: 0 !important;
  /* width: min-content; */
  border: 1px solid var(--border-primary);
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section {
  padding: 30px 10px;
  border-bottom: 1px solid var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:first-child {
  display: block;
  padding: 20px 30px;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:first-child
    h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:first-child
    p {
  font-size: 0.8rem;
  line-height: 1.15rem;
  opacity: 0.7;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:last-child {
  border: none;
  padding: 20px 30px;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:last-child
    .button {
  width: 100%;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:last-child
    .button:first-child {
  color: var(--inverted-cl);
  width: 90%;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:last-child
    .button:last-child {
  margin-left: 20px;
}

.easy-popup-inner
    > div[data-easy-popup="created-link-popup"]:first-child
    .link-section:last-child
    .button
    svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.easy-popup-inner > div[data-easy-popup="link-gen-popup"]:first-child {
  display: flex;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.easy-popup-inner
    > div[data-easy-popup="link-gen-popup"]:first-child
    .link-section {
  --section-space: 40px;
  margin: 20px auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.easy-popup-inner
    > div[data-easy-popup="link-gen-popup"]:first-child
    .link-section
    .button:last-child {
  color: var(--inverted-cl);
  margin-top: auto;
}

.easy-popup-inner
    > div[data-easy-popup="link-gen-popup"]:first-child
    .link-section
    .button
    svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.easy-popup-inner
    > div[data-easy-popup="link-gen-popup"]:first-child
    .link-section.please-margin-top {
  margin-top: 40px;
}

.easy-popup-inner
    > div[data-easy-popup="link-gen-popup"]:first-child
    .half-section {
  width: 50%;
  border-right: 1px solid var(--border-primary);
  height: 100%;
  position: relative;
  display: inline block;
}

#link-gen-error:has(p) {
  color: #ff0000;
  margin: 0 0 20px 0;
  color: red;
  font-weight: 600;
  font-size: 13px;
}

/* box component */

.box {
  width: 400px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: var(--secondary-color);
  padding: 1rem;
}
