<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Password protected</title>

    <meta name="description" content="This link requires a password in order to continue. In order to proceed, please enter the required password.">
  
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Password protected">
    <meta property="twitter:description" content="This link requires a password in order to continue. In order to proceed, please enter the required password.">
    <meta property="twitter:image" content="<%= url.origin %>/seo/images/locked.png">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Password protected">
    <meta property="og:description" content="This link requires a password in order to continue. In order to proceed, please enter the required password.">
    <meta property="og:image" content="<%= url.origin %>/seo/images/locked.png">

    <meta name="theme-color" content="#f6dec9" />

    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="stylesheet" href="./styles/password.css" />

    <link rel="stylesheet" href="/vendor/easy-popup/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <script>
      window.urlID = "<%= id %>";
    </script>
    <main class="bg-secondary">
        <div>
          <svg width="25" height="25" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1_2)">
              <rect width="150" height="150" fill="#2A2D39"/>
              <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="#F6DEC9" stroke-width="33"/>
              <path d="M16.5 75C16.5 42.6913 42.6913 16.5 75 16.5C107.309 16.5 133.5 42.6913 133.5 75V133.5H75C42.6913 133.5 16.5 107.309 16.5 75Z" stroke="url(#paint0_linear_1_2)" stroke-opacity="0.5" stroke-width="33"/>
              <rect x="117" y="117" width="33" height="33" fill="#2A2D39"/>
              </g>
              <defs>
              <linearGradient id="paint0_linear_1_2" x1="170" y1="129" x2="8.00001" y2="93.5" gradientUnits="userSpaceOnUse">
              <stop stop-color="#DEC8F5"/>
              <stop offset="0.578125" stop-color="#CFBAE4" stop-opacity="0.475469"/>
              <stop offset="1" stop-opacity="0"/>
              </linearGradient>
              <clipPath id="clip0_1_2">
              <rect width="150" height="150" fill="white"/>
              </clipPath>
              </defs>
          </svg>
          <p>This link is password protected. Please enter the password to view it.</p>
        </div>
        <form class="bg-third form">
            <div class="input">
                <!-- <div class="icon">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path></svg>
                </div> -->
                <input id="pwd-input" type="password" placeholder="Password for this link">
            </div>
            <button type="submit" id="submit-btw" class="button bg-gradient">
                <span>Redirect to link</span>
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
            </button>
            <div id="error"></div>
        </form>
    </main>

    <script src="./utils/theme.js"></script>
    <script src="./scripts/link-password.js"></script>
  </body>
</html>