
#links {
    max-width: 56rem;
    position: relative;

    margin: 0 auto;
}

#links-container .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
}

#links-container .header-wrapper .create-new {
    display: flex;
    align-items: center;

    font-weight: 600;
}

#links-container .header-wrapper .create-new svg {
    margin-right: 5px;

    width: 20px;
    height: 20px;
}

#links-container .header-wrapper .title,
.highlight-box .title {
    font-size: 1.15rem;
    font-weight: 600;
}

#links-container .header-wrapper .title > .desc {
    font-size: 12px;

    opacity: .7;
    margin-top: 5px;
}

#links-container .user-link:first-child {
    border-top: 1px solid var(--border-primary);
    padding-top: 20px;
}

#links-container .user-link {
    background: var(--secondary-color);
    /* padding: 9px; */
    border-radius: 5px;
    width: 100%;

    margin: 20px 0;
    display: flex;
    align-items: center;
}

#links-container .user-link .link-id {
    font-weight: 600;
    font-size: 15px;

    margin-left: 10px;
    /* margin-bottom: 5px; */
}

#links-container .user-link .link-dest {
    font-size: 13px;
    opacity: .7;
    margin-left: 10px;

}

#links-container .user-link .link-dropdown,
#link-view > div:first-child .link-dropdown {
    width: 35px;
    height: 35px;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    cursor: pointer;
}

#links-container .user-link .link-dropdown {
    border: 1px solid var(--border-primary);
    padding: 10px;
}

#links-container .user-link .link-dropdown:hover,
#link-view > div:first-child .link-dropdown:hover {
    background: var(--third-color);
}

.light #links-container .user-link .link-dropdown:hover,
.light #link-view > div:first-child .link-dropdown:hover {
    background: var(--third-color);
}

#links-container .user-link .link-dropdown svg,
#link-view > div:first-child .link-dropdown svg  { width: 15px; height: 15px; }

#links-container .user-link div:has(> .link-dropdown) {
    position: relative;
}

#links-container .user-link .edit-link {
    width: 35px;
    height: 35px;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
    cursor: pointer;
}

#links-container .user-link .edit-link:hover {
    background: var(--border-primary);
}

.light #links-container .user-link .edit-link:hover {
    background: var(--third-color);
}

#links-container .user-link .edit-link svg  { width: 15px; height: 15px; }